{% extends 'base.html' %}
{% load static %}
{% load dam_component_rendering %}
{% block title %} Home Page - DAM Dashboard | MOps  {% endblock %}
{% block link-rel %}
<link rel="stylesheet" type="text/css" href="{% static 'css/utilities.css' %}"/>
{% endblock %}

{% block content %}
{% getmenu "Home" %}
{% getBreadCrumb "Home" %}

    <!-- Page Content -->
     <div class="container" style="min-height:800px; height:100%;">
             <div class="row" style="padding:2%;">
                 <div class="col-md-3 col-sm-1">
                     <div class="card">
                         <div class="card-header bgg-themeH text-white">Total CloudFiles</div>
                         <div class="card-body justify-content-center">
                             <h4><a href="/admin/asset/cloudfile">__</a></h4>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-1">
                     <div class="card">
                         <div class="card-header bgg-themeH text-white">Total Downloads</div>
                         <div class="card-body justify-content-center">
                             <h4><a href="#"></a></h4>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-1">
                     <div class="card">
                         <div class="card-header bgg-themeH text-white">Dummy</div>
                         <div class="card-body justify-content-center">
                             <h4></h4>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3">
                     <div class="card">
                         <div class="card-header bgg-themeH text-white">Dummy</div>
                         <div class="card-body justify-content-center">
                             <h4>__</h4>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" style="padding:2%;">
                     <div class = "col-lg-6">
                             <h5 class="heading">Recent Assets Requests</h5>
                             <table class="table table-hover table-light" id="example">
                             <thead>
                             <tr>
                                     <th scope="col">CloudFile</th>
                                     <th scope="col">Action</th>
                                     <th scope="col">Status</th>
                             </tr>
                             <tbody>
                             <tr>
                                 <td><a href="/admin/asset/album/{{album.album_id}}/change">Cloud File (File Code)</a></td>
                                 <td>Download</td>
                                 <td>Completed</td>
                             </tr>
                         </table>
                     </div>
                     <div class="col-lg-6">
                         <table class="table table-hover table-light">
                             <thead>
                             <h5 class="heading">Recent Activities</h5>
                             <tr>
                                 <th scope="col">Dummy</th>
                                 <th scope="col">Dummy</th>
                             </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td><a href="/admin/asset/title/{{track.id}}/change">Dummy</a></td>
                                     <td>Dummy</td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
             </div>
     </div>


    {% block footer %}{% include './footer.html' %}{% endblock %}

    {% endblock %}
